<%= render 'layouts/nav' %>


	<div class="container">
    <div class="row">
  		<h1><small>welcome to</small><span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers !!</h1>
    </div>
    <div class="row">
      <p class="text-right">CopyRight Infratop.inc</p>
    </div>
  </div>

